* {
    box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}


.header {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
}

.header__title {
    text-align: center;
    margin: 30px auto;
}


.header__sound-btn {
    width: 32px;
    height: 32px;
    background: 
        transparent
        url('images/sound.png')
        no-repeat;
    background-size: 100%;
    image-rendering: pixelated;

    position: absolute;
    right: 10px;
    top: 50%;
    bottom: 50%;
    margin: auto;
    transition: all .2s ease-in-out;
}

.header__sound-btn:hover {
    cursor: pointer;
}

.header__sound-btn.-muted {
    opacity: 50%;
}


.header__github {
    width: 32px;
    height: 32px;
    background: 
        transparent
        url('images/github.png')
        no-repeat;
    background-size: 100%;
    image-rendering: pixelated;

    position: absolute;
    left: 10px;
    top: 50%;
    bottom: 50%;
    margin: auto;
}

.main {
    height: 100%;
    padding: 0 10px 10px;
    color: white;
}


.game {
    height: 100%;
    border: 1px solid white;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    text-align: center;
    margin: 0 auto;
}

.game__computerScore,
.game__playerScore {
    font-size: 2rem;
}

.gane__options {
    display: flex;
    flex-direction: column;
}

.game__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.game__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: whitesmoke;
    color: black;
    transition: all .1s ease-in-out;
}

.game__button:hover {
    cursor: pointer;
}

.-player-selected {
    background-color: lime;
}

.-computer-selected {
    background-color: red;
}

.-player-selected.-computer-selected {
    background-color: blue;
}

.gameOver {
    height: 100%;
    border: 1px solid white;
    border-radius: 5px;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;

    text-align: center;
    margin: 0 auto;
}

.gameOver__text {
    font-size: 1.5rem;
}

.gameOver__options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gameOver__button {
    padding: 10px 20px;
    background-color: white;
    color: black;
}

.gameOver__button:hover {
    cursor: pointer;
}

.footer {
    margin: 0 auto;
}

.footer__text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: .6rem;
    margin: 0 auto 10px;
    opacity: 20%;
}